<h1>About MovieGuru</h1>
<p>MovieGuru is a professional-grade movie review site built for the TCI coding challenge.</p>
<h3>Features</h3>
<ul>
	<li>Gets movies from The Movie Database</li>
	<li>Allows users to add ratings to movies in the database</li>
	<li>So much more!</li>
</ul>
<p>You can view this project's source code on GitHub by <a href="https://github.com/JamsheedMistri/MovieGuru" target="_blank">clicking here</a>!</p>